[Unit]
Description=CPU Proc Analyzer Deamon
ConditionPathExists=/tmp/PROC_ANALYZER_ENABLE

[Service]
ExecStart=/bin/sh -c '/usr/bin/cpuprocanalyzer'
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
